@model IEnumerable<ComponentCompareCenter.Models.Siniflar.MonitorOzellik>
@{
    ViewBag.Title = "MonitorCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-11">
        <h3 class=" p-2">Son Eklenen Monitör</h3>
    </div>
    <div class="col-1">
        <a href="/Home/MonitorListele/" class="btn" style="background-color: #f4a460;"><b>Tümünü Gör<i class="bi bi-chevron-double-right"></i></b></a>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-2">
            <div class="card h-100">
                <h5 class="card-title">@item.Uruns.UrunAd</h5>
                <img class="card-img-top h-50 " src="@item.Uruns.urunGorsel" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h5 class="card-title bi bi-arrow-right" style="color:#F4a460">Ekran Boyutu</h5>
                    <p class="card-text lead">@item.EkranBoyutu</p>
                    <h5 class="card-title bi bi-arrow-right" style="color:#F4a460">Ekran Çözünürlüğü</h5>
                    <p class="card-text lead">@item.EkranCozunurlugu</p>

                    <h5 class="card-title bi bi-arrow-right" style="color:#F4a460">Yenileme Hız</h5>
                    <p class="card-text lead">@item.YenilemeHizi</p>

                    <h5 class="card-title bi bi-arrow-right" style="color:#F4a460">Tepkime Süresi</h5>
                    <p class="card-text lead">@item.TepkiSuresi</p>

                    <h5 class="card-title bi bi-arrow-right" style="color:#F4a460">Fiyat</h5>
                    <p class="card-text lead">@item.Fiyat</p>

                    <a href="/Home/MonitorDetay/@item.ID" id="linkHover" class="btn" style="background-color: #FFF5EE;">Ürüne Git</a>
                </div>
            </div>
        </div>
    }
</div>


